// .header {
//     height: 40px;
//     background: lightblue;
// }
// .footer {
//     height: 100px;
//     background: lightcoral;
// }
// .main { 
//     margin-left: 200px;
//     margin-right: 300px;
// }
// .clearfix::after {
//     content: "";
//     display: block;
//     clear: both;
// }
// .center {
//     width: 100%;
//     height: 500px;
//     background: lightgray;
//     float: left;
// }
// .left {
//     width: 200px;
//     height: 500px;
//     background: lightpink;
//     float: left;
//     margin-left: -100%;
//     position: relative;
//     left: -200px;
// }
// .right {
//     width: 300px;
//     height: 500px;
//     background: lightgreen; 
//     float: left;
//     margin-left: -300px;
//     position: relative;
//     right: -300px;
// }

.container-page{
    .aside-left{
        grid-area:aside-left;
        background-color:  #fafafa;
    }
    .aside-right{
        grid-area:aside-right;
        background-color: #fafafa;
    }
    display: grid;
    grid-template-areas: 
          'header header header'
          'aside-left main aside-right'
          'footer footer footer';
    min-height: 100vh;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 50px 1fr 50px;
}


@media screen and (max-width: 600px) {
    .container-page{
      grid-template-areas: 
        'header' 
        'aside-left'
        'main'
        'aside-right'
        'footer';
      grid-template-columns: 100%;
      grid-template-rows: 50px 50px minmax(300px, auto) 50px 80px;
    }
    .aside-left,.aside-right,.main{
      display:flex;
      align-items:center;
      justify-content: center;
    }
  }