.projects{
    padding-top:1rem;
    .Project{
        display:flex;
        align-items: center;
        list-style-type: none;
        color: #333;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        line-height: 1.50;
        font-size: 15px;
        padding-left: 0;
        padding-right: 0;

        div{
            padding-left:10px;
            display:flex;
            align-items: center;
            gap:1.5rem;
            width: 100%;
            .dot{
                font-size: 30px;
            }
            .projectName{
                margin: 0;
                color: #333;
                font-size: 15px;
            }
            &.active, &:hover {
                font-weight: bold;
                background-color: white;
            }
        }
    }
    :nth-child(1) .dot{
        color: #6accbc;
    }
    :nth-child(2) .dot{
        color: #fad003;
    }
    :nth-child(3) .dot{
        color: #ff8d85;
    }
    :nth-child(4) .dot{
        color: #ff9932;
    }
    :nth-child(5) .dot{
        color: #af38eb;
    }
}