.add-task{
    display:flex;
    gap:0.6rem;
    padding-left:2px;
    padding-top:1.2rem;
    cursor: pointer;
    span:nth-child(1){
        color: #dd4b39;
        font-size: 18px;
    }
    span:nth-child(2){
        display: inline-block;
        color: #545454;
        font-size: 14px;
    }
}