.sidebar-container{
    width: 266px;
    height: calc(100vh);
    padding-top: 74px;
    // position: fixed;S
    overflow-x: hidden;
    overflow-y: hidden;
    border-right: 1px solid #f1f1f1;
    background-color: #fafafa;
    .sidebar-list{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction:column;
        li{
            list-style-type: none;
            cursor: pointer;
            // width: 30px;
            // height: 30px;
            text-align: center;
            vertical-align: middle;
            float: left;
            div{
                display:flex;
                padding: 16px 0 16px 10px;
                width: 100%;
                gap:1.5rem;
            }
        }
    }
    .ProjectsDropdown{
        padding: 16px 0 24px 10px;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap:1.5rem;
        border-bottom: 1px solid #f1f1f1;
    }
    .VisibileProjects{
        margin-top: 20px;
        margin-bottom: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-left: 10px;
        cursor: pointer;
    }
}